<% include ../partials/header %>
<div class="container">
    
        
        <div style="width: 30%; margin: 25px auto;">
            <h3 style="text-align: center; margin: 60px auto;">Edit comment</h3>
            <form action="/campgrounds/<%= askedCampground_Id %>/comment/<%= comment._id %>?_method=PUT" method="POST">
               <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/campgrounds/<%= askedCampground_Id %>">Go Back</a>
        </div>
    
</div>
<% include ../partials/footer %>