<% include ../partials/header %>

<form action="/register" method="POST">
	<label>Username</label>
		<input type="text" name="username">
	<label>Password</label>
		<input type="password" name="password">
	<button>Sign Up</button>
</form>

<% include ../partials/footer %>